h1,h2
{ 
    color:lightcoral;
    text-align: center;
    font-family: fantasy;
}

p
{
    color: indianred;
    font-size: 30px;
    font-family: cursive;
} /* color=txt color, font-size=font size, font-family=font */


.grid-container
{
    display: grid;
    grid-template-columns: 20% 30% 20% 10%;
    grid-template-rows: 10% 20%;
    gap:50px;
    padding: 10px;
    background-color: rgb(247, 255, 241);
} /* gap= padding=*/

.item
{
    background-color: rgb(205, 243, 183);
    color: rgb(212, 80, 28);
    font-family: fantasy;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.flex-container
{
    background-color: aqua;
}

