h1,h2
{ 
    color:lightcoral;
    text-align: center;
    
}


.grid-container
{
    display: grid;
    grid-template-columns: 20% 55% 20%;
    gap:10px;
    padding: 10px;
    background-color: rgb(247, 255, 241);
}

.item
{
    background-color: rgb(205, 243, 183);
    color: rgb(212, 80, 28);
    font-family: fantasy;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

